
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 100px;
    font-family: var(--ff-Nunito-Sans);
    background-image: none;
    background-repeat: none;
    background-size: none;
    background-position: none;
    background-attachment: none;
}


.grid-box {
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.line {
    margin-block: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 1);
}